.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff; /* Додайте кольорову схему за необхідністю */
  text-align: center;
  z-index: -1;
margin-top: auto;
  .footer-contacts {
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
  }
}
