@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");

@import "./components/header/header.scss";
@import "./components/order-information/order-information.scss";
@import "./components/order-list/order-list.scss";
@import "./components/order-list-item/order-list-item.scss";
@import "./components/order-approval/orderApproval.scss";
@import "./components/footer/footer.scss";


* {
  max-width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
}


:root {
  background: #fff;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

body {
  height: 100%;
}


li {
  list-style-type: none;
}




